.tanpa-bootstrap {
    border: none;
    padding: 20px;
    font-weight: 800;
    font-size: 3em;
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}

.tanpa-bootstrap:hover {
    background-color: beige;
    color: black;
    transform: rotateY();
    transition: all .5s;
}